h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10em;
    padding: 0;
    margin:0;
    font-weight: lighter;
    font-stretch: extra-expanded;
    color: white;
}